@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: Airbnb;
  src: url("/fonts/Airbnb_Bold.woff2") format("woff2");
  font-weight: bold;
}
@font-face {
  font-family: Airbnb;
  src: url("/fonts/Airbnb_Book.woff2") format("woff2");
  font-weight: 400;
}
@font-face {
  font-family: Airbnb;
  src: url("/fonts/Airbnb_Medium.woff2") format("woff2");
  font-weight: 500;
}

body {
  font-family: "Airbnb";
}

button {
  @apply rounded-lg bg-black text-white hover:shadow-md py-2 px-4 block;
}

.blurred {
  backdrop-filter: blur(12px) brightness(0.5);
  -webkit-backdrop-filter: blur(12px) brightness(0.5);
  -moz-backdrop-filter: blur(12px) brightness(0.5);
  -ms-backdrop-filter: blur(12px) brightness(0.5);
}