---
import BaseLayout from '../layouts/BaseLayout.astro'

---

<BaseLayout>
  <div class="grid grid-cols-2">
    <div class="flex flex-row">
      <img src="/assets/telefonica.jpeg" alt="Telefonica" class="h-20 w-20 rounded">
    </div>
  </div>
</BaseLayout>