---
import BaseLayout from '../layouts/BaseLayout.astro'

---

<BaseLayout>
  <div class="flex-grow p-20">
    <p class="text-center font-bold text-4xl mb-24">My Experience</p>
    <div class="grid grid-cols-2 content-center justify-items-center gap-24 ">
      <div class="flex flex-row h-36 w-[25vw]">
        <img src="/assets/telefonica.jpeg" alt="Telefonica" class="w-36 rounded-3xl mr-4">
        <div class="flex flex-col relative flex-grow">
          <p class="font-bold">Telefónica</p>
          <p>May 2021 - May 2022</p>
          <p>Software Engineering Internship</p>
          <div class="group absolute bottom-0 right-0 w-12">
            <div class="tk-blob" style="--fill: #000000;">
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 319.2 356.7">
                <path d="M271.9 50.3c30.6 29.3 51.3 75.5 46.6 123.9-4.6 48.4-34.6 99-86.5 136.3s-125.6 61.4-168.3 35.3S9.4 243.5 3.4 177.3C-2.7 111.2-3.1 55.2 24 26.7 51.1-1.9 105.9-2.9 153.4 2.8c47.6 5.8 88 18.2 118.5 47.5z"></path>
              </svg>
            </div>
            <svg xmlns="http://www.w3.org/2000/svg" class="h-8 w-8 absolute top-2 left-2 text-white" fill="none" viewBox="0 0 24 24" stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13 16h-1v-4h-1m1-4h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z" />
            </svg>
            <div class="absolute bottom-0 right-0 hidden group-hover:block shadow rounded-3xl bg-black text-white p-5 pl-10 w-[30vw]">
              <ul class="list-disc">
                <li>AWS architecture training (Cloud Formation, Lambda)</li>
                <br>
                <li>Test automation with Ansible</li>
                <br>
                <li>Development of Nuxt/Express platform for scheduling and viewing Ansible test results (interactive platform similar to Splunk)</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="flex flex-row h-36 w-[25vw]">
        <img src="/assets/flintgg.png" alt="Flintgg" class="w-36 rounded-3xl mr-4">
        <div class="flex flex-col relative flex-grow">
          <p class="font-bold">Flint.gg</p>
          <p>June 2020 - August 2020</p>
          <p>FullStack Developer, Freelance</p>
          <div class="group absolute bottom-0 right-0 w-12">
            <div class="tk-blob" style="--fill: #000000;">
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 319.2 356.7">
                <path d="M271.9 50.3c30.6 29.3 51.3 75.5 46.6 123.9-4.6 48.4-34.6 99-86.5 136.3s-125.6 61.4-168.3 35.3S9.4 243.5 3.4 177.3C-2.7 111.2-3.1 55.2 24 26.7 51.1-1.9 105.9-2.9 153.4 2.8c47.6 5.8 88 18.2 118.5 47.5z"></path>
              </svg>
            </div>
            <svg xmlns="http://www.w3.org/2000/svg" class="h-8 w-8 absolute top-2 left-2 text-white" fill="none" viewBox="0 0 24 24" stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13 16h-1v-4h-1m1-4h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z" />
            </svg>
            <div class="absolute bottom-0 right-0 hidden group-hover:block shadow rounded-3xl bg-black text-white p-5 pl-10 w-[30vw]">
              <ul class="list-disc">
                <li>Frontend development using Nuxt/Vue frameworks and Typescript</li>
                <br>
                <li>Backend development with Node/Express.js</li>
                <br>
                <li>Implemented custom image rendering on the Backend for downloads</li>
                <br>
                <li>Integration of APIs of several video-games: Fortnite, Counter-Strike, League of Legends</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="flex flex-row h-36 w-[25vw]">
        <img src="/assets/xtremeai.png" alt="xtremeai" class="w-36 rounded-3xl mr-4 object-contain">
        <div class="flex flex-col relative flex-grow">
          <p class="font-bold">Xtreme.ai</p>
          <p>November 2020 - April 2021</p>
          <p>Software Engineering Internship</p>
          <div class="group absolute bottom-0 right-0 w-12">
            <div class="tk-blob" style="--fill: #000000;">
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 319.2 356.7">
                <path d="M271.9 50.3c30.6 29.3 51.3 75.5 46.6 123.9-4.6 48.4-34.6 99-86.5 136.3s-125.6 61.4-168.3 35.3S9.4 243.5 3.4 177.3C-2.7 111.2-3.1 55.2 24 26.7 51.1-1.9 105.9-2.9 153.4 2.8c47.6 5.8 88 18.2 118.5 47.5z"></path>
              </svg>
            </div>
            <svg xmlns="http://www.w3.org/2000/svg" class="h-8 w-8 absolute top-2 left-2 text-white" fill="none" viewBox="0 0 24 24" stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13 16h-1v-4h-1m1-4h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z" />
            </svg>
            <div class="absolute bottom-0 right-0 hidden group-hover:block shadow rounded-3xl bg-black text-white p-5 pl-10 w-[30vw]">
              <ul class="list-disc">
                <li>Front-end development of a platform for Glovo, used in digitalizing restaurant menus and serving to Glovo API endpoints</li>
                <br>
                <li>FullStack development (Vue.js/Django) of tool for digitalizing restaurant menus utilizing recognition of text from images (OCR/OpenCV)</li>
                <br>
                <li>Integration and evaluation of metrics composed with Python (Pandas, Keras, PyTorch) and served to be visualized in Metabase</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="flex flex-row h-36 w-[25vw]">
        <img src="/assets/mubint.svg" alt="mubint" class="w-36 mr-4 object-contain">
        <div class="flex flex-col relative flex-grow">
          <p class="font-bold">MUBiNT</p>
          <p>July 2016 - August 2016</p>
          <p>Systems Administration Internship</p>
          <div class="group absolute bottom-0 right-0 w-12">
            <div class="tk-blob" style="--fill: #000000;">
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 319.2 356.7">
                <path d="M271.9 50.3c30.6 29.3 51.3 75.5 46.6 123.9-4.6 48.4-34.6 99-86.5 136.3s-125.6 61.4-168.3 35.3S9.4 243.5 3.4 177.3C-2.7 111.2-3.1 55.2 24 26.7 51.1-1.9 105.9-2.9 153.4 2.8c47.6 5.8 88 18.2 118.5 47.5z"></path>
              </svg>
            </div>
            <svg xmlns="http://www.w3.org/2000/svg" class="h-8 w-8 absolute top-2 left-2 text-white" fill="none" viewBox="0 0 24 24" stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13 16h-1v-4h-1m1-4h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z" />
            </svg>
            <div class="absolute bottom-0 right-0 hidden group-hover:block shadow rounded-3xl bg-black text-white p-5 pl-10 w-[30vw]">
              <ul class="list-disc">
                <li>Resolution of problems and maintenance of the telecommunications network of the firm</li>
                <br>
                <li>Maintenance and updates/upgrades of the IT infrastructure</li>
                <br>
                <li>Experience with the Bitrix 1C system</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</BaseLayout>